# This is Git's per-user configuration file.
[user]
	name = Zac Joffe
	email = zacharyjoffe@gmail.com
[core]
	editor = nvim
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	path = nvim
[difftool]
	prompt = false
[alias]
	d = difftool
	ia = !git add $(git ls-files --modified --others --exclude-standard | fzf -m)
    id = !git diff $(git ls-files --modified --others --exclude-standard | fzf -m)
    is = !git show $(git log --pretty=oneline | cut -c1-7 | fzf -m)
