[user]
  name = Zac Joffe
  email = zacharyjoffe@gmail.com
[core]
  editor = "nvim"
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[url "https://:@github.com"]
	insteadOf = https://github.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com"]
	insteadOf = https://github.com
