[user]
  name = Zac Joffe
  email = zacharyjoffe@gmail.com
[core]
  editor = "nvim"
	eol = lf
	autocrlf = false
[mergetool]
  prompt = false
[merge]
  tool = nvimdiff
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[pull]
	rebase = false
