@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: Iosevka;
    font-size: 11pt;
    min-height: 0;
}
window#waybar {
    opacity: 1.0;
    background: @background;
    color: @foreground;
    /* border-bottom: 2px solid @background; */
}
#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button.active {
    background: @background;
    color: @selection;
    font-weight: bold;
}
#workspaces button.urgent {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#clock {
    padding: 0 4px;
    background: @background;
}
